








/* SCSS HEX */
$cerulean-crayola: #48acd6ff;
$davys-grey: #5c5b5dff;
$old-gold: #c2b526ff;
$white: #ffffffff;
$white-2: #ffffffff;

/* SCSS HSL */
$cerulean-crayola: hsla(198, 63%, 56%, 1);
$davys-grey: hsla(270, 1%, 36%, 1);
$old-gold: hsla(55, 67%, 45%, 1);
$white: hsla(0, 0%, 100%, 1);
$white-2: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$cerulean-crayola: rgba(72, 172, 214, 1);
$davys-grey: rgba(92, 91, 93, 1);
$old-gold: rgba(194, 181, 38, 1);
$white: rgba(255, 255, 255, 1);
$white-2: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #48acd6ff, #5c5b5dff, #c2b526ff, #ffffffff, #ffffffff);
$gradient-right: linear-gradient(90deg, #48acd6ff, #5c5b5dff, #c2b526ff, #ffffffff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #48acd6ff, #5c5b5dff, #c2b526ff, #ffffffff, #ffffffff);
$gradient-left: linear-gradient(270deg, #48acd6ff, #5c5b5dff, #c2b526ff, #ffffffff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #48acd6ff, #5c5b5dff, #c2b526ff, #ffffffff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #48acd6ff, #5c5b5dff, #c2b526ff, #ffffffff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #48acd6ff, #5c5b5dff, #c2b526ff, #ffffffff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #48acd6ff, #5c5b5dff, #c2b526ff, #ffffffff, #ffffffff);
$gradient-radial: radial-gradient(#48acd6ff, #5c5b5dff, #c2b526ff, #ffffffff, #ffffffff);





$color_primary: #703c19;
// $color_primary: $cerulean-crayola;
$color_secondary: #107FC9;
$color_dark: #323232;
$color_lightDark: #373a40;
$themeColor1: #373a40;
$textColor: #222;
$themeColor3: #eeeeee;
$color-hcolor: #fff;
// Green 3db166
$color-navbg: #703c19;
$color-navtext: #fff;
$social_top: #fff;
$headTitleColor: #76370d;
$headerMenu: #703c19;
$textOnPrimary: #d4dcec;
$hoverHeaderBg: #613315;

$header_top: #fff;

$primaryLight: #d7cdc3;