$brandDark: #4baf64;
$brandLight: #0c9240;
$brandSecondary: #2f3b40;
$color_primary: $brandDark;
// $color_primary: $cerulean-crayola;
$color_secondary: $brandLight;
$color_dark: #323232;
$color_lightDark: #373a40;
$themeColor1: #373a40;
$textColor: #222;
$themeColor3: #eeeeee;
$color-hcolor: #fff;
// Green 3db166
$color-navbg: $color_primary;
$color-navtext: #fff;
$social_top: #e5eee9;
$headTitleColor: #76370d;
$headerMenu: $color_primary;
$textOnPrimary: #d4dcec;
$hoverHeaderBg: $brandDark;

$header_top: #e5eee9;

$primaryLight: #d7cdc3;