$color_primary: #ffc000;
$color_secondary: "#107FC9";
$color_dark: #323232;
$color_lightDark: "#373a40";
$themeColor1: #373a40;
$textColor: #323232;
$themeColor3: #eeeeee;
// Green 3db166

$social_top: "#f9bc02"