/* Author : Shankar Panchal 
/* 
/*============================*/
/*======= Basic Satup =======*/
/*==========================*/
/*background:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))),url('img/newsupdate_bg.jpg');
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('img/newsupdate_bg.jpg');*/
/* 
==== Primary  = #44000d;
==== Secondry = #f9d276

*/
*,h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html,body{
    background-color: #fff;
    color: #222;
    font-family: 'Noto Sans', sans-serif !important;
    font-weight: 400;
    font-size:17px !important;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix {zoom: 1;}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*=============================*/
/*====== Reusable Components =*/
/*===========================*/
.container {
    max-width: 1140px;
    margin: 0 auto;
}
section,footer {
    padding: 60px 0px;
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #222;
    font-size: 260%;
    font-weight: 700;
    font-family: 'PT Serif', serif;  
}
h2{
    font-size: 220%;
    font-weight: 700;
    margin:0px 0px 50px 0px;
    position: relative;
    text-align: center;
}
h2::after{
    content: url('img/separetor-1.png');
    position: absolute;
    display: block;
    text-align: center;
    top: 25px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
}
h4{
    font-weight: 700;
    font-size:90%;
    position: relative;
}
h3{
    font-size: 150%;
    font-weight: 700;
    margin-bottom: 15px;
}
.primary-bg{background: #44000d;color:#fff;}
.secondary-bg{background: #f9d276;color: #44000d;}
.text-primary{color: #44000d !important;}
.text-secondary{color: #967323 !important;}
.text-secondary-light{color:#f9d276;}
.jumbotron {background-color: #efefef;}
.seperater-list {list-style: none;}
.seperater-list li{
    border-bottom: 1px dotted #222;
    margin-bottom: 20px;
    padding-bottom: 5px;
    position: relative;
}
.seperater-list li::after {
    content:'';
    position: absolute;
    left: -20px;
    top: 15%;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #44000d;
}
/*================ Buttons ===========*/
.btn-primary {
    background-color: #44000d;
    border: #44000d;
}
/*================ Icons ===========*/
.icon-small {
    margin:-2px 10px 0px 0px;
    font-size:18px;
    color: #f9d276;
    color: #44000d;
    color: #fff;
    vertical-align:middle; 
}
.icon_bunch li a:link,
.icon_bunch li a:visited{
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.icon_bunch li a:hover{
    color: #888;
}
.icon-big {
    font-size: 45px;
    color: #44000d;
    margin:5px;
}
/* ===================================== */
/* ====== Enquiry form fixed left ===== */
/* =================================== */
.quick-enquiry-block input,
.quick-enquiry-block select {
    border: 1px solid #efefef;
    padding: 2px 8px;
    border-radius: 4px;
}
.quick-enquiry-block input:focus,
.quick-enquiry-block select:focus {
    border: 1px solid #44000d;
}

.quick-enquiry-block {
    position: fixed;
    top: 25%;
    right: -349px;
    width: auto;
    height: auto;
    z-index: 9999;
    -webkit-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
}
.quick-enquiry-block.open {
    right: 0px !important;
}
.quick-enquiry-block .form-group:last-child {
    margin-top:0px;
}
.quick-enquiry-btn-box {
    float: left;
    left: -97px;    
    position: absolute;
    color: #fff;
    font-size: 120%;
    font-weight: 700;
    padding:10px 20px;
    cursor: pointer;
    border:2px solid#f9d276;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background: -webkit-gradient(linear, left top, right top, from(#75141b), color-stop(#c51c3d), to(#6b1218));
    background: linear-gradient(to right, #75141b, #c51c3d, #6b1218);
    background: linear-gradient(to right, #75141b, #c51c3d, #6b1218);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.quick-enquiry-box {
    float: left;
    background: #fff;
    width: 350px;
    padding: 10px;
    border: 1px solid #44000d;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

/* ========== Header Section ========== */
header .col {
    margin-top: 0;
    margin-bottom: 0;
    padding:15px 0px;    
}
.header-top {
    background-color: #f9d276;
}
.header-top .col-md-8 {padding-left: 0;}
.logo-top-left {
    position: relative;
    text-align: center;
    height: 100%;
}
.logo-top {
    vertical-align: middle;
    margin-top:55px;
}
/*Header text color*/
.title *{
    text-align: center;
    color: #222;
}
.title:first-child{
    vertical-align: middle;
}
.title.title-1 *{
    font-size: 220%;
    margin:8px 0px;
    font-weight: 700;
    text-shadow: 1px 1px #44000d;
}   
.title.title-2 *{
    font-size: 220%;
    margin:8px 0px;
    font-weight: 400;
}
.title.title-2 h2::after{display: none;}
.title.title-3 *{
    font-size: 90%;

}
.social-top{margin-top: 45px;}
.social-top div *{
    display: inline;
    vertical-align: middle;
    color: #fff;
    font-size: 80%;
}
.social-top div{
    width: 100%;
    height: 35px;
    cursor: pointer;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.social-top div:hover{opacity: 0.9;}

.social-top div {
    text-align: center;
    -webkit-box-shadow:none;
            box-shadow:none;
    background-color: #efefef;
    -webkit-transition: -webkit-box-shadow 0.2s;
    transition: -webkit-box-shadow 0.2s;
    transition: box-shadow 0.2s;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}
.social-top div:hover{
    -webkit-box-shadow:0px 0px 2px 2px #f4f4f4;
            box-shadow:0px 0px 2px 2px #f4f4f4;
}
/* ========== top social ========== */

.icon-social:not(first-child){
    margin-left:-10px;
}
.icon-social {
    position: relative;
    width: 35px;
    height: 35px;
    scale: 1;
}
.icon-social::before {
    content:'GMC Facebook';
    display: block;
    position: absolute;
    top: -5px;
    width: auto;
}
.news .news-icon{
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 0; 
    left: 30%;
}
/* ========== top Navigation ========== */
.collapse {
    display: block;
}
.header_{
    position: relative;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.5s ease-in-out;
    background: -webkit-gradient(linear, left top, right top, from(#44000d), to(#f9d276));
    background: linear-gradient(to right, #44000d, #f9d276);
    background: -webkit-gradient(linear, left top, right top, from(#75141b), color-stop(#c51c3d), to(#6b1218));
    background: linear-gradient(to right, #75141b, #c51c3d, #6b1218);
    background: linear-gradient(to right, #75141b, #c51c3d, #6b1218);   
    background: #44000d;
    transition: all 0.5s ease-in-out;
    height: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
nav{
    width: 100%;
    top: 0; 
    position: relative;
    margin:0px auto;      
    display: -webkit-box;     
    display: -ms-flexbox;     
    display: flex;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center; 
}
/*================ nav links ==============*/

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav > ul .topnav-list{
    padding: 12px 8px;
    display:inline-block;   
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
nav > ul .topnav-list:not(:first-child){
    margin-left: 10px;
}
nav > ul .topnav-list:hover {
    background-color: #83142c;
}
nav > ul li a:link,
nav > ul li a:visited {
    color: #fff;
    text-decoration: none;
}

/*===================*/
/*DROPDAWN MENU*/
/*==================*/
.navbar-header.topnav {
    
    width: auto;
    text-align: center;
}
nav ul li ul.my-sub-menu {
    display: block;
    position: absolute !important;
    opacity: 0;
    top:50px !important;
    width:100%;
    border-radius: 0;
    margin:0% 5% 0% 5% !important;
    -webkit-transform: perspective(600px) rotateX(-90deg) !important;
            transform: perspective(600px) rotateX(-90deg) !important;
    -webkit-transform-origin: 1% 1%;
            transform-origin: 1% 1%;
    border-top:2px solid #f9d276;
  }
  
  
/* md dropdown menu */  
nav ul li.md-dropdown{position: relative !important;}     
nav ul li ul.md-dropdown-menu{width: 100%;margin-left: 0;}
nav ul li ul.md-dropdown-menu li{padding: 10px;margin: 0;}
nav ul li ul.md-dropdown-menu li:hover{background-color: #efefef;}
  /* On Hover */
  nav ul li:hover ul.my-sub-menu {
    opacity: 1;
    -webkit-transform: perspective(600px) rotateX(0deg) !important;
            transform: perspective(600px) rotateX(0deg) !important;
  }
  
  nav ul li ul.my-sub-menu,
  nav ul li a,
  nav ul li:before {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width:250px;
  }
ul.my-sub-menu li a{
    font-weight: 400;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    font-size: 0.5em;
}
ul.my-sub-menu li a:link,
ul.my-sub-menu li a:visited{
    color: #222;
    margin-left: 0;
}
ul.my-sub-menu li a:active,
ul.my-sub-menu li a:hover{
    color: #222;
    
}

.mega-dropdown-menu{
    width:90% !important;
}
.my-sub-menu .row .col{padding: 0;}
.my-sub-menu .row {
    padding: 0 8px;
}
.my-sub-menu-nav li{
    padding: 6px 30px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.my-sub-menu-nav li:hover{
    -webkit-transform: translate(8px, 0px);
            transform: translate(8px, 0px);
}
.my-sub-menu-nav li.dropdown-header{
    -webkit-transform: none;
            transform: none;
    font-size: 110%;
    font-weight: 400;
    padding: 6px 20px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.my-sub-menu-nav li:hover{
    -webkit-transform: translateX(3);
            transform: translateX(3);
}

.my-sub-menu-nav > li.dropdown-header,.dropdown-header{
    font-size: 100%;
    margin-left: 0;
    color: #6b1218;
    
}
.my-sub-menu-nav > li.dropdown-header::after,li.dropdown-header::after{
    content: '';
    display: block;
    margin: 5px 0;
    height: 2.5px;
    width:40px;
    background-color: #44000d;
}
/*===========================================*/
/*============== section-carousel ==============*/
/*===========================================*/
.section-carousel{
    padding: 0;
}
.section-carousel h2{margin: 0;}
.section-carousel h2:after{display: none;}
.carousel-caption {
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.26);
}
/*===========================================*/
/*============== section-letest =============*/
/*===========================================*/

.section-letest {padding:0;}
.section-letest .row,.section-letest .container-fluid{margin: 0;padding: 0;}

.section-letest h2{
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 35px;
    position: relative;
    text-align: left;
    padding:5px;
    border-radius:2px;
}
.section-letest h2 span{
    position: relative;
    padding: 5px 0; 
    color: #222;
}
.section-letest h2::after{
    display: none;
}
.section-letest .icon-feature,.section-letest .icon-news {width:45px;}

.news-block,.features-block {
    padding: 60px 15px 30px 40px;
    margin: 0;
}
.features-block{
    padding-right: 90px;
    overflow: scroll;
    max-height: 580px;
}
.news-block{padding-left: 30px;}
.news-block {
    background:#fff;
    background-repeat: no-repeat;
    background-size: cover;
}
.news-block *{color: #222;}
.news-block h4,.features-block h4{
    text-transform: uppercase;
    
}

.news p,.features-block p{font-size: 90%;margin-bottom: 0;}
.p-date{color:#888;}
.news ul{margin: 0;}
.news-item{
    padding: 15px 15px 15px 40px;
    border-bottom: 1px dotted #222;
}
.features-block {background-color: #efefef;}
.features-block *{color: #222;}
.feature-box .feature-img,.feature-box .feature-desc{
    display: inline-block;
}
.feature-box{
    margin: 15px 15px;
    padding: 15px 0;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    background-color: #fff;
    border-left: 4px solid #44000d;
}
.feature-box .feature-desc{padding-left: 10px;}
.news-item h4{position: relative;}
.news-item h4::before{
    content: url('img/star.png');
    position: absolute;
    left: -35px;
    top: -5px;
}
.news-btns-group{
    padding: 30px 0px;
}
.news-btns-group div:first-child{float: left;}
.news-btns-group div:last-child{float: right;}
.news-btns-group .btn-group .btn{width:45px;height: 40px;}
/* E-Resources*/
.img-responsive{
    display: block;
    max-width:100%;
}

/*===========================================*/
/*============== section-youtube-videos =====*/
/*===========================================*/
.section-about-us, .section-yt-v{
    background-color: #efefef;
}
.section-yt-v iframe{height: 300px;}
/*===========================================*/
/*============== section-footer =============*/
/*===========================================*/
footer {
    background: #222;
}
footer h4{
    color: #fff;
    font-size: 100%;
    text-transform: uppercase;
    margin: 0 0 15px 0px;
}
footer a,footer p{
    text-decoration: none;
    color: #fff;
    font-size: 90%;
}
.social-icon{
    font-size: 160%; 
}
.social-links a:not(:first-child){
    margin-left: 8px;
}
.ion-logo-facebook:hover {
    color:#3b5998
   }
   .ion-logo-twitter:hover {
    color:#00aced
   }
   .ion-logo-linkedin:hover {
    color:#0077B5
   }
   .ion-logo-instagram:hover {
    color:#517fa4
   }
.ion-logo-facebook:hover,
.ion-logo-twitter:hover{
    opacity: 0.9;
}
.divider{
    background-color: #555;
    height: 1px;
    border-radius: 5px;
    width: 100%;
}
.cpy-txt{
    color: #555;
    text-align: center;
    font-size: 90%;
    margin-top: 15px;
}
.xpica:link,
.xpica:visited{text-decoration: none;color:#3b5998;}
.xpica:hover{color: #555;}
/*===========================================*/
/*======== section-silent-features ==========*/
/*===========================================*/

.silent-features-block div{
    position: relative;
    padding: 10px 10px 10px 65px;
    margin-top: 5px; 
    background-color: #efefef;
}
.silent-features-block div::before{
    content: url('img/ic_feature.png');
    position: absolute;
    left: 5px;
    top: 5px;
    width: 35px;
    height: 100%;
}
/*===========================================*/
/*======== Contact & section-google-map =====*/
/*===========================================*/
/*================ Contact Form ==============*/
.section-contact-form .btn {
    width: 150px;
    height: 50px;
    margin: 0 auto;
}
.section-contact .social-top div {width: 150px;}
.contact-form,
.main-contact-form {
 width:60%;
 margin:0 auto;
 background:#fff;
 -webkit-box-shadow:0 22px 59px rgba(36,14,136,.06);
 box-shadow:0 22px 59px rgba(36,14,136,.06);
 padding:60px
}
.main-contact-form {
 -webkit-box-shadow:none;
 box-shadow:none;
 padding:10px
}
.contact-form h2 {
 text-align:center
}
.form-group {
 margin-top: 20px;
 position:relative
}
.form-group:last-child {
 margin-top:50px
}
.form-group * {
 display:block
}
.form-group #idupdates,
.form-group .idlabelupdate {
 display:inline-block
}
.form-group #idupdates {
 width:auto;
 margin-right:5px
}
input,
label {
 font-size:100%;
 color:#555
}
label {
 margin-bottom: 9px;
}
input,select {
 border:none;
 position:relative;
 border-bottom:1px solid #e2e2e2;
 width:100%;
 padding: 0px 0px 5px 0px;
 -webkit-transition:border-bottom .5s;
 -webkit-transition:border .5s;
 transition:border .5s
}
input:focus {
 border-bottom:1px solid #44000d
}
input::before {
 content:"";
 display:block;
 height:2px;
 width:100%;
 background:#00aced
}
.form-group label.error {
 color:rgb(199, 26, 26);
 font-size: 80%;
}

/*======== contact section =============*/
.section-contact{background-color: #efefef;}
.section-contact h5{
    font-weight: bold;
}
.section-contact .social-top {margin-top: 15px;}
.section-contact h2{text-align: left;}
.section-contact h2::after{
    -webkit-transform: none;
            transform: none;
    left: 0;
}
.section-contact .wrapper{
    padding: 1rem 0;
    position: relative;
}
.section-contact .wrapper .b-info{
    width: 100%;
    word-wrap: break-word;
    padding-left: 60px;
}
.section-contact .wrapper .icon-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 2.1rem;
    height: 2.1rem;
    margin-right: 2rem;
    clear: both;
    position: absolute;
    top: 0;
}
/*Map section*/
.section-google-map{
    padding: 0;
    margin: 0;
}
.main-wrapper{
    position: relative;
    width: 100%;
    height:28rem;
}
.section-google-map .google-map{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;   
}
.section-google-map .google-map iframe{
    width: 100%;
    height: 100%;
}